$color-primary: rgba(255, 165, 0, 1);
$color-primary-faint: rgba(255, 165, 0, .5);
$color-splash: #282c34;
$color-font: #212529;
$color-dark: #333;
$color-darkish: #666;
$color-light: #efefef;
$color-white: #fff;
$color-footer: #161719;
$color-chiclet: #20232a;
$color-code-inline: rgba(232, 62, 140, .1);
$color-code-inline-text: #e83e8c;
$color-code-block: #2c2c38;
$color-article-link-background: rgba(255, 141, 0, .1);
$color-article-link-border: rgba(33, 37, 41, .4);
$color-alert-text: #004085;
$color-alert-shadow: rgba(0, 0, 0, .15);
$color-alert-border: #ff6a00;

blockquote {

    border-left: 3px solid $color-alert-border;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 $color-alert-shadow;
    padding: 20px;

    p {
        margin-bottom: 0;
    }
}

.main-nav {

    background-color: $color-splash;
    font-weight: 300;
    padding: 0 !important; // sass-lint:disable-line no-important

    a {
        color: $color-white;
        padding: 18px 20px !important; // sass-lint:disable-line no-important
    }

    .navbar-toggler {
        color: $color-white;
        z-index: 100;
    }

    .nav-item {
        a {
            &.active {
                background-color: $color-dark;
                border-bottom: 3px solid $color-primary;
                color: $color-primary;
            }

            &:hover {
                color: $color-primary;
            }
        }
    }

    .navbar-brand {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 10px;

        &:hover {
            color: $color-primary;
        }
    }
}

footer {

    background-color: $color-splash;
    color: $color-white;
    min-height: 300px;
    padding: 50px;
    position: relative;
    width: 100%;

    a {
        color: $color-white;

        &:hover {
            color: $color-white;
        }
    }

    h5 {
        color: $color-light;
        font-size: 1rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    ul {

        list-style-type: none;
        margin-bottom: 100px;
        padding: 0;

        li {
            margin: 1.2rem 0;

            span {
                color: $color-darkish;
                display: inline-block;
                font-size: .7rem;
                margin-left: 10px;
            }
        }
    }

    .footer-copyright {
        background-color: $color-footer;
        bottom: 0;
        font-size: .8rem;
        position: absolute;
        width: 100%;
    }
}

.btn-donate {

    background-color: $color-primary;
    margin-top: 20px;
}

.container {
    h3 {
        font-weight: 100;
    }
}

.the-team,
.attributions,
.not-found,
.donate,
.our-images {
    margin-top: 50px;
    text-align: center;
}

.the-team {

    h3 {
        font-size: 1.2rem;
    }

    .team-member {

        margin: 0 auto;
        text-align: center;

        a {
            color: $color-primary;
            font-weight: 200;

            &:hover { // sass-lint:disable-line nesting-depth
                text-decoration: none;
            }
        }


        h4 {
            font-weight: 100;
        }

        img {
            border-radius: 100px;
            height: 100px;
            width: 100px;
        }

        .avatar {

            border-radius: 100px;
            box-shadow: 0 2px 5px 0 $color-alert-shadow;
            height: 110px;
            margin: 0 auto 10px;
            overflow: hidden;
            padding: 5px;
            width: 110px;
        }
    }
}

.splash-parent {
    background-color: $color-splash;

    .splash {
        color: $color-white;
        padding: 125px 0;
        text-align: center;

        h1 {
            color: $color-primary;
            font-size: 3rem;
            font-weight: 500;
        }

        h2 {
            font-weight: 100;
        }
    }
}

.usps {

    border-top: 1px solid $color-light;
    padding: 50px 0;
    text-align: center;

    a {
        color: $color-primary;
        font-weight: 400;
    }

    .usp-icon {
        font-size: 5rem;
    }

    .col {

        @media (max-width: 768px) {
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.who-are-we {
    margin: 50px 0;
    text-align: center;
}

.total-pulls,
.usps {
    border-top: 1px solid $color-light;
    padding: 50px 0;
    text-align: center;
}

.showcase {

    border-top: 1px solid $color-light;
    padding: 50px 0;
    text-align: center;

    &.donate {
        border-top: 0;
    }

    .showcase-image {
        border-radius: 5px;
    }
}

.total-pulls {

    border-top: 1px solid $color-light;
    padding: 50px 0;
    text-align: center;

    a {
        color: $color-primary;

        &:hover {
            color: $color-primary;
        }
    }

    .pull-stat-numbers {

        margin: 20px 0;

        .pull-stat-number {

            background-color: $color-chiclet;
            border-radius: 5px;
            color: $color-white;
            display: inline-block;
            font-size: 1rem;
            margin: 1px;
            padding: 10px;

            @media (min-width: 768px) {
                font-size: 2rem;
                margin: 2px;
                padding: 10px 15px;
            }

            @media (min-width: 992px) {
                font-size: 3rem;
                margin: 2px;
                padding: 10px 20px;
            }
        }

        .pull-stat-comma {

            border-radius: 5px;
            display: inline-block;
            font-size: 1rem;
            margin: 1px;

            @media (min-width: 992px) {
                font-size: 3rem;
                margin: 0;
            }
        }
    }
}

.align-middle {
    margin-bottom: auto;
    margin-top: auto;
}

.documentation {

    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-top: 50px;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    h3 {
        font-size: 1.3rem;
        margin-bottom: 20px;
        margin-top: 30px;

        code {
            background: none !important; // sass-lint:disable-line no-important
            color: $color-dark;
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    h4 {
        font-size: 1.2rem;
        margin-top: 50px;
    }

    .article {
        padding-left: 20px;

        .preface {
            color: $color-darkish;
            font-size: 1.5rem;
            font-weight: 100;
            line-height: 35px;
            margin-top: 50px;
        }

        > div {

            > ul {

                li {
                    margin-bottom: 10px;
                }
            }

            > p {
                line-height: 1.7rem;

                > code {

                    background-color: $color-code-inline;
                    color: $color-code-inline-text;
                    padding: 4px;
                    text-shadow: none;
                    word-break: break-word;
                }
            }
        }

        div {
            &.gatsby-highlight {

                pre {
                    border-radius: 10px;
                    margin: 30px 0;
                    margin-left: -25px;
                    margin-right: -25px;
                    padding-left: 25px;
                    padding-right: 25px;
                }

                code,
                pre {

                    &[class*='language-'] {
                        background-color: $color-code-block;
                    }
                }
            }
        }

    }

    p {
        a {
            background-color: $color-article-link-background;
            border-bottom: 1px solid $color-article-link-border;
            color: $color-dark;
            padding: 3px;

            &:hover {
                background-color: $color-primary-faint;
                border-bottom: 1px solid $color-dark;
                text-decoration: none;
            }
        }
    }

    .contents {
        padding-top: 50px;

        a {
            color: $color-font;
        }

        ul {
            list-style-type: none;
            padding-left: 20px;
        }

        > ul {
            font-weight: 300;
            padding-left: 0;
        }

        .document-section {
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin-bottom: 10px;

            &.closed ~ ul {
                display: none;
            }

            // sass-lint:disable-block nesting-depth
            ~ ul {
                li {
                    a {
                        display: inline-block;
                        font-weight: 200;
                        padding: 2px 5px;

                        &:hover {
                            color: $color-dark;
                            text-decoration: none;
                        }

                        &.viewing {
                            border-left: 4px solid $color-primary;
                            font-weight: bold;
                            margin-left: -4px;
                        }
                    }
                }
            }
        }
    }
}
