.main-nav {
    background-color: #282c34;
    font-weight: 300;
    padding: 12px 0 !important;
}

.main-nav a {
    color: #fff;
}

.main-nav a:hover {
    color: orange;
}

.main-nav .navbar-brand {
    color: orange;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 10px;
}

.main-nav .nav-item {
    margin-left: 50px;
}

.splashParent {
    background-color: #282c34;
    /* background-image: url(./johannes-plenio-377226.jpg); */
}

.splash {
    text-align: center;
    color: #fff;
    padding: 180px 0;
}

.splash h1 {
    color: orange;
    font-size: 3rem;
    font-weight: 500;
}

.splash h2 {
    font-weight: 100
}

.usps {
    margin-top: 50px;
    text-align: center;
}

.container h3 {
    font-weight: 100;
}

.usps .uspIcon {
    font-size: 5rem;
}

.usps .col {
    margin-bottom: 50px;
}

span.monospace {
    font-family: monospace;
}

.totalPulls, .showcase {
    border-top: 1px solid #eaeaea;
    padding: 50px 0;
    text-align: center;
}

.totalPulls .pullStatNumbers {
    margin: 20px 0;
}

.totalPulls .pullStatNumbers .pullStatNumber {
    display: inline-block;
    font-size: 3rem;
    color: #fff;
    background-color: #20232a;
    padding: 10px 20px;
    margin: 2px;
    border-radius: 5px;
}

.showcaseImage {
    border-radius: 5px;
}

.alignMiddle {
    margin-top:auto;
    margin-bottom:auto;
}

.documentation {
}

.documentation h1 {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
}

.documentation h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.documentation h3 {
    margin-top: 50px;
    font-size: 1.3rem;
}

.documentation h4 {
    margin-top: 50px;
    font-size: 1.2rem;
}

.documentation .document {
    padding-right: 20px;
}

.documentation .document .preface {
    margin-top: 50px;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 35px;
    color: #666;
}

.documentation .document > div > p {
    line-height: 25px;
}

.documentation .document > div > p > code {
    background-color: rgba(232, 62, 140, 0.1);
    padding: 4px;
    border-radius: 2px;
}

.documentation .document > div > pre {
    margin-bottom: 20px;
    border-radius: 10px;
}

.documentation .document > ul > li {
    margin-bottom: 10px;
}

.documentation .document ul li p {
    margin-bottom: 0;
}

.documentation .contents {

}
