$color-primary: rgba(255, 165, 0, 1);
$color-primary-faint: rgba(255, 165, 0, 0.5);
$color-splash: #282c34;
$color-font: #212529;

.main-nav {

    background-color: $color-splash;
    font-weight: 300;
    padding: 0 !important;

    a {
        color: #fff;
        padding: 18px 20px !important;
    }

    .navbar-toggler {
        color: #fff;
        z-index: 100;
    }

    .nav-item {

        a {

            &.active {

                border-bottom: 3px solid $color-primary;
                color: $color-primary;
                background-color: #333;
            }

            &:hover {
                color: $color-primary;
            }
        }
    }

    .navbar-brand {

        font-weight: 500;
        font-size: 1.2rem;
        margin-left: 10px;

        &:hover {
            color: $color-primary;
        }
    }
}

.page-footer {
    color: #fff;
    background-color: $color-splash;
}

.footer-copyright {
    background-color: #161719;
}

.container {

    h3 {
        font-weight: 100;
    }
}

.notFound {

    margin-top: 20px;
    text-align: center;
}

.splashParent {

    background-color: $color-splash;

    .splash {

        text-align: center;
        color: #fff;
        padding: 180px 0;

        h1 {
            color: $color-primary;
            font-size: 3rem;
            font-weight: 500;
        }

        h2 {
           font-weight: 100;
       }
    }
}

.usps {

    margin-top: 50px;
    text-align: center;
    border-top: 1px solid #efefef;
    padding: 50px 0;

    .uspIcon {
        font-size: 5rem;
    }

    .col {
        margin-bottom: 50px;
    }
}

.whoAreWe {

    margin-top: 50px;
    text-align: center;
}

.totalPulls, .showcase, .usps {
    border-top: 1px solid #efefef;
    padding: 50px 0;
    text-align: center;
}

.totalPulls {

    border-top: 1px solid #efefef;
    padding: 50px 0;
    text-align: center;

    .pullStatNumbers {

        margin: 20px 0;

        .pullStatNumber {

            display: inline-block;
            color: #fff;
            background-color: #20232a;
            border-radius: 5px;

            font-size: 1rem;
            padding: 10px 10px;
            margin: 1px;

            @media (min-width: 768px) {

                font-size: 2rem;
                padding: 10px 15px;
                margin: 2px;
            }

            @media (min-width: 992px) {

                font-size: 3rem;
                padding: 10px 20px;
                margin: 2px;
            }
        }
    }
}

.showcase {

    .showcaseImage {
        border-radius: 5px;
    }
}

.alignMiddle {
    margin-top:auto;
    margin-bottom:auto;
}

.documentation {

    h1 {
       margin-top: 50px;
       font-size: 3rem;
       font-weight: bold;
   }

   h2 {
       margin-top: 50px;
       margin-bottom: 20px;
       font-weight: bold;
       font-size: 1.5rem;
   }

   h3 {
       margin-top: 50px;
       font-size: 1.3rem;
   }

   h4 {
       margin-top: 50px;
       font-size: 1.2rem;
   }

   .article {

       padding-left: 20px;

       .preface {
           margin-top: 50px;
           font-weight: 100;
           font-size: 1.5rem;
           line-height: 35px;
           color: #666;
       }

       > div {

           > p {
               line-height: 1.7rem;

               > code {

                   background-color: rgba(232, 62, 140, 0.1);
                   padding: 4px;
                   border-radius: 2px;
               }
           }
       }

        div {

            &.gatsby-highlight {

                pre {

                    margin: 30px 0;
                    border-radius: 10px;
                    margin-left: -25px;
                    margin-right: -25px;
                    padding-left:: 25px;
                    padding-right: 25px;
                }
            }
        }

        code[class*="language-"],
        pre[class*="language-"] {
            background-color: #2c2c38;
        }
    }

    > ul {

        > li {
            margin-bottom: 10px;
        }
    }

    ul {

        li {

            p {
                margin-bottom: 0;
            }
        }
    }

    p {

        a {

            color: rgb(33, 37, 41);
            background-color: rgba(255, 141, 0, 0.1);
            padding: 3px;
            border-bottom: 1px solid rgba(33, 37, 41, 0.4);

            &:hover {

                background-color: $color-primary-faint;
                border-bottom: 1px solid rgba(33, 37, 41, 0.8);
                text-decoration: none;
            }
        }
    }

    .contents {

        padding-top: 50px;

        a {
            color: $color-font;
        }

        ul {
            list-style-type: none;
            padding-left: 20px;
        }

        > ul {
            padding-left: 0;
            font-weight: 300;
        }

        .documentSection {

            font-weight: bold;
            cursor: pointer;
            margin-bottom: 10px;
            display: inline-block;

            &.closed ~ ul {
                display: none;
            }

            ~ ul {

                li {

                    a {

                        padding: 2px 5px;
                        display: inline-block;
                        font-weight: 200;

                        &:hover {

                            text-decoration: none;
                            color: #333;
                        }

                        &.viewing {
                            border-left: 3px solid $color-primary;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}
